.logo {
  margin-right: 85px;
  color: $hover-color;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-span {
  color: $secondary-text-color;
}
